<h2>Paise</h2>
<hr>
<ul class="list-group">

  <!-- [routerLink] da error porque 'about' no existe en angular. Ovio -->
  <!-- Los [] se usar para enlazar dinamicamente a una propiedad de typescript -->
  <li routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}"
    class="list-group-item">
    Home Page
  </li>

  <li routerLink="about"
    routerLinkActive="active"
    class="list-group-item">
    About Page
  </li>

  <li routerLink="contact"
    routerLinkActive="active"
    class="list-group-item">
    Conctact Page
  </li>

  <li
    routerLink="countries/by-capital"
    routerLinkActive="active"
  class="list-group-item">
    By Capital Page
  </li>

  <li
  routerLink="countries/by-country"
  routerLinkActive="active"
  class="list-group-item">
    By Country Page
  </li>

  <li
  routerLink="countries/by-region"
  routerLinkActive="active"
  class="list-group-item">
    By Region Page
  </li>

  <li
  routerLink="countries/by/123"
  routerLinkActive="active"
  class="list-group-item">
    By Country Page
  </li>

</ul>
